<div class="container_wrap">

<div class="container-fluid">
<div class="row">
  <div class="col-md-12 header-wrap">
      <strong>{{title}}<hr></strong>
  </div>
</div> 
<div *ngIf="content_first">


<div class="row" >
   <div class="col-md-4">

   </div>

  <div class="col-md-4">
      <div  class="card" >
        <div class="car-body">
            <div class="row">
                <div class="col-md-4">
                <span></span>
              </div>
              <div class="col-md-4">
                <img src="../assets/user.png" width="80" height="80" style="margin-bottom: 30px;">
              </div>
              <div class="col-md-4">
                <span></span>
              </div>
            </div>
                  <div class="label-wrap">
                <label><strong>Name</strong></label>
            </div>
            <div class="value-wrap">
              <p>{{profileData.name}}</p>
          </div> 
          <div class="label-wrap">
              <label><strong>Followers</strong></label>
          </div>
          <div class="value-wrap">
            <p>{{profileData.followers}}</p>
        </div> <div class="label-wrap">
            <label><strong>Location</strong></label>
        </div>
        <div class="value-wrap">
          <p>{{profileData.location}}</p>
      </div> <div class="label-wrap">
          <label><strong>Company</strong></label>
      </div>
      <div class="value-wrap">
        <p>{{profileData.company}}</p>
    </div> <div class="label-wrap">
        <label><strong>Following</strong></label>
    </div>
    <div class="value-wrap">
      <p>{{profileData.following}}</p> 
        </div>
        </div>
   

  </div> 
    </div>
    <div class="col-md-4">
    </div>

  </div>


<div class="footer">
    <strong style="float: left">This Data fetch from Github API URL </strong>

        <button class="btn btn-primary pull-right" (click)="getSecond()">Assigment Second</button>

</div>
</div>

<div class="row" *ngIf="content_second">
    <div class="col-md-12">
        <img [src]="url_img"   height="350" width="600px">
    </div>
  
    <div class="col-md-12 pull-right">
    
  </div>
  <div class="footer2">

      <input type="file"
    (change)="onSelectFile($event)"> 
      
      <button class="btn btn-primary pull-right" (click)="getBack()">Back</button>

</div>
  </div>
<router-outlet></router-outlet>
<!-- handleFileInput($event.target.files) -->
</div>