.header-wrap{
    /* border-bottom: 1px solid black; */
    padding: 20px;
    font-family:  serif;
    font-size: 22px;
}
.label-wrap{
    width: 50%;
    float: left;
}
.value-wrap{
    width:50%;
    float: left;
}

.footer{
    position: fixed;
    float: right;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px;
}
.footer2{
    position: fixed;
    float: right;
    width: 100%;
    top:70;
    left: 0;
    text-align: right;
    padding: 10px;

}
.container-fluid{
    background-color: #f6f9fa;
    height: 100%;
}
.container_wrap{
    width: 100%;
    float: left;
    height: 100vh;
}
.card{
    padding: 29px;
}